
.Title-box {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f7fbfe;
  border-radius: 10px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 110px; /* Increase this value to move the box further down */
}


.Box-Container {
  padding: 20px;
  background-color: #d7edf7;
  border-radius: 8px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
 
}

.Box-heading{
  text-align: center;
  margin-bottom: 20px;
}

